.intro img{
    width: 100%;
}

.columnshowing {
    display: none;
}
  
.columnshowing2 {
    display: none;
}
  
.columnshowing3 {
    display: none;
}

.hidden-delivery {
    display: none;
    padding: 50px;
    padding-top: 200px;
}

.show-delivery {
    padding: 50px;
    padding-top: 200px;
}

.form {
    padding: 100px;
}

.row {
    background-image: url("../images/background.png");
}

.sizes .row {
    background-image: none;
}

.nxtOrder {
    display: none;
}

.sizes {
    padding: 50px;
}

.form h2 {
    color: white;
    font-style: italic;
}

.about {
    border: 2px solid red;
    padding: 50px;
}