.intro img{
    width: 100%;
}

.columnshowing {
    display: none;
}
  
.columnshowing2 {
    display: none;
}
  
.columnshowing3 {
    display: none;
}

.form {
    padding: 100px;
    background-image: url("../images/background.png");
}

.sizes {
    padding: 50px;
}

.form h2 {
    color: white;
    font-style: italic;
}

.about {
    border: 2px solid red;
    padding: 50px;
}