.intro img{
    width: 100%;
}

.columnshowing {
    display: none;
}
  
.columnshowing2 {
    display: none;
}
  
.columnshowing3 {
    display: none;
}

.form {
    background-image: url("../images/background.png");
}